<IfModule mod_rewrite.c>
 RewriteEngine On
 #RewriteRule ^.*$ index.php
 #RewriteRule

 RewriteRule ^(az|en)/$ index.php?lang=$1 [L]
 RewriteRule ^(az|en)/about-us/ about.php?lang=$1 [L]
 RewriteRule ^(az|en)/contact/ contact.php?lang=$1 [L]
 RewriteRule ^(az|en)/news/([^/]+)/ post.php?post_slug=$2&lang=$1 [L]
 RewriteRule ^(az|en)/page/([^/]+)/ flatpage.php?base_url=$2&lang=$1 [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 #RewriteRule . /index.php [L]
 
</IfModule>